.contact__content {
  margin-top: -50px;
  display: grid;
  grid-template-areas: 'map address' 'form address';
  grid-auto-rows: 1fr;
  grid-template-columns: 2fr 1fr; }

.contact .map {
  width: 100%;
  min-height: 400px;
  grid-area: map; }

.contact .address {
  grid-area: address;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  font-size: 18px;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  color: #282C34; }
  .contact .address__list {
    margin-bottom: 50px; }
  .contact .address__country {
    font-weight: 600;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .contact .address__tel {
    margin-bottom: 20px; }
    .contact .address__tel a {
      color: #282C34; }
  .contact .address__street {
    margin-bottom: 20px; }
    .contact .address__street a {
      color: #282C34; }

.contact .form {
  grid-area: form;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 72%;
  margin-bottom: auto;
  padding: 60px 30px 0; }
  .contact .form label {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2em;
    letter-spacing: 0.5em;
    text-transform: uppercase; }
  .contact .form__input {
    height: 35px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #282C34; }
  .contact .form__info {
    height: 20px;
    margin-bottom: 20px; }
  .contact .form textarea.form__input {
    height: 70px;
    resize: none;
    font-size: 18px; }
  .contact .form__submit {
    position: absolute;
    bottom: 20px;
    right: -70px;
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url("../img/Vector.svg") no-repeat center/contain;
    border: none; }

@media screen and (max-width: 992px) {
  .contact__content {
    grid-template-areas: 'map' 'address' 'form';
    grid-template-columns: 1fr;
    grid-auto-rows: auto; }
  .contact .address {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .contact .address__list {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 5px 15px; }
  .contact .form {
    margin: 0 auto;
    padding: 10px 60px 0; }
  .contact .form__submit {
    right: 0; } }

@media screen and (max-width: 600px) {
  .contact .address__list {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px; }
  .contact .address {
    font-size: 3vw; }
  .contact .form {
    width: 90%;
    padding: 0 40px 0 0; }
  .contact .form__submit {
    height: 30px;
    width: 30px;
    bottom: 15px; }
  .contact .form label {
    font-size: 3vw; }
  .contact .form__input {
    height: 25px; }
  .contact .form textarea.form__input {
    height: 50px; }
  .contact .address__street, .contact .address__tel, .contact .address__country, .contact .form__info {
    margin-bottom: 10px; } }
