.documents__button {
  position: absolute;
  bottom: 0;
  right: 30px; }
  .documents__button-wrap {
    position: relative;
    height: 0;
    width: 0;
    margin: 0 0 0 auto; }

.documents .title__name__os-1 .text-left span {
  line-height: 1.02em; }

.document {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px; }
  .document__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-decoration: none;
    color: #282C34;
    margin: 0 0 4.4vw;
    cursor: pointer; }
    .document__item:hover {
      -webkit-filter: hue-rotate(180deg);
              filter: hue-rotate(180deg);
      background: rgba(220, 220, 220, 0.3); }
    .document__item-img {
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content;
      width: 50%;
      max-height: 100%;
      -ms-flex-negative: 1;
          flex-shrink: 1; }
    .document__item-text {
      font-size: 1.2vw;
      line-height: 1.8em;
      white-space: pre-line;
      margin-left: 20px; }

.button__license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 31vw;
  height: 3.8vw;
  border: none;
  outline: none;
  background: var(--red);
  margin-bottom: 27px;
  cursor: pointer; }
  .button__license:hover .button__license-text {
    letter-spacing: 0.18em; }
  .button__license-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .button__license-text::after {
      content: '';
      display: inline-block;
      height: 25px;
      width: 21px;
      background: url("../img/array-down.svg") no-repeat center;
      margin-left: 20px; }

@media screen and (min-width: 1360px) {
  .document__item {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%; } }

@media screen and (min-width: 1920px) {
  .document__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%; } }

@media screen and (max-width: 992px) {
  .button__license {
    width: 40vw;
    height: 4.5vw; }
    .button__license-text {
      font-size: 1.6vw; } }

@media screen and (max-width: 768px) {
  .document__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .documents__button-wrap {
    height: auto;
    width: 100%;
    padding: 20px 5px; }
  .documents__button {
    position: static;
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .button__license {
    width: 280px;
    height: 40px;
    margin: 0 10px 20px; }
    .button__license-text {
      font-size: 12px; } }
