* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Montserrat";
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  padding: 0; }

.header {
  width: 100%;
  height: var(--header-h); }
  .header__wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1360px;
    padding: 0 15px;
    margin: 0 auto; }
  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__menu-left {
      font-size: 18px;
      font-family: "Montserrat";
      color: #282C34;
      text-transform: uppercase;
      letter-spacing: 9px; }
    .header__menu-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      width: 40px;
      margin-left: 10px; }
      .header__menu-right span {
        display: inline-block;
        height: 3px;
        background: #000;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
        .header__menu-right span:nth-child(1) {
          width: 50%; }
        .header__menu-right span:nth-child(2) {
          width: 100%; }

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.9s easy;
  -o-transition: 0.9s easy;
  transition: 0.9s easy; }
  .lang-arrow {
    color: #222222;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 500;
    margin: auto 0; }
  .lang:hover {
    height: auto; }
  .lang-list__item {
    padding: 10px; }
    .lang-list__item:hover {
      background: #dadbde; }
    .lang-list__item a {
      text-decoration: none;
      font-size: 20px;
      color: #000000;
      text-transform: uppercase;
      letter-spacing: 2px; }

.lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.header__menu {
  cursor: pointer; }
  .header__menu:hover .header__menu-right span:first-child {
    margin-left: auto;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }

@media screen and (max-width: 768px) {
  :root {
    --header-h: 100px; }
  .header__logo img {
    height: 50px; }
  .header__menu-left {
    letter-spacing: 3px; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__menu-right {
    height: 15px; } }
