:root {
  --header-h: 160px; }

@font-face {
  font-family: 'Montserrat';
  font-style: "normal";
  src: url("../fonts/montserratRegular/montserratRegular.eot");
  src: url("../fonts/montserratRegular/montserratRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserratRegular/montserratRegular.woff") format("woff"), url("../fonts/montserratRegular/montserratRegular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: "normal";
  src: url("../fonts/montserratBlack/montserratBlack.eot");
  src: url("../fonts/montserratBlack/montserratBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/montserratBlack/montserratBlack.woff") format("woff"), url("../fonts/montserratBlack/montserratBlack.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Montserrat";
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  padding: 0; }

.header {
  width: 100%;
  height: var(--header-h); }
  .header__wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto; }
  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__menu-left {
      font-size: 18px;
      font-family: Montserrat;
      color: #282C34;
      text-transform: uppercase;
      letter-spacing: 9px; }
    .header__menu-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      width: 40px;
      margin-left: 10px; }
      .header__menu-right span {
        display: inline-block;
        height: 3px;
        background: #000; }
        .header__menu-right span:nth-child(1) {
          width: 50%; }
        .header__menu-right span:nth-child(2) {
          width: 100%; }

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 22px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.9s easy;
  -o-transition: 0.9s easy;
  transition: 0.9s easy; }
  .lang-arrow {
    color: #222222;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 500;
    margin: auto 0; }
  .lang:hover {
    height: auto; }
  .lang-list__item:hover {
    background: #DE3346; }

.lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.lang-list__item a {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px; }

.header__menu {
  cursor: pointer; }
  .header__menu:hover .header__menu-right span:first-child {
    margin-left: auto;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }

.footer {
  display: inline-block;
  width: 100%;
  height: 70px; }
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 1360px;
    height: 100%;
    padding: 10px 20px;
    margin: 0 auto; }
  .footer > * {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown; }

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    z-index: 1;
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    z-index: 1; } }

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    z-index: 1;
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    z-index: 1; } }

.slideInLeft {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft; }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.slideInRight {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight; }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp; }

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px); } }

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px); } }

.flipInX {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
          animation-name: flipInX; }

.ease {
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease; }

.ease-in {
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in; }

.ease-out {
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }

.ease-out {
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }

.main {
  display: grid;
  width: 100%;
  grid-template-areas: "oysho zara zara zara" "oysho massimo massimo pullbear" "bershka bershka bershka pullbear" "piraeus stradivarius stradivarius eres" "piraeus universal universal eres";
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 25%);
  overflow: hidden; }

.stores {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  visibility: hidden;
  z-index: 2; }
  .stores img {
    height: 100%;
    width: 100%; }
  .stores-hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    pointer-events: none;
    color: #ffffff;
    padding: 40px 20px;
    opacity: 0; }
    .stores-hover__brand {
      font-size: 10px;
      letter-spacing: 1em;
      text-transform: uppercase; }
    .stores-hover__plus {
      position: relative;
      display: inline-block;
      height: 67px;
      width: 67px; }
      .stores-hover__plus::after, .stores-hover__plus::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0;
        border: 1px solid #ffffff; }
      .stores-hover__plus::before {
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }
    .stores-hover__text {
      font-size: 10px;
      letter-spacing: 0.1em; }
  .stores:hover > .stores-hover {
    opacity: 1; }

.oysho {
  grid-area: oysho; }
  .oysho-hover {
    background: #EB5757; }

.zara {
  grid-area: zara; }
  .zara-hover {
    background: #219653; }

.massimo {
  grid-area: massimo; }
  .massimo-hover {
    background: #F2C94C; }

.pullbear {
  grid-area: pullbear; }
  .pullbear-hover {
    background: #2F80ED; }

.bershka {
  grid-area: bershka; }
  .bershka-hover {
    background: #9B51E0; }

.piraeus {
  grid-area: piraeus; }
  .piraeus-hover {
    background: #219653; }

.stradivarius {
  grid-area: stradivarius; }
  .stradivarius-hover {
    background: #EB5757; }

.eres {
  grid-area: eres; }
  .eres-hover {
    background: #F2994A; }

.universal {
  grid-area: universal; }
  .universal-hover {
    background: #2F80ED; }
