.first--screen {
  display: grid;
  grid-template-areas: 'logo img img img img year' 'mouse . brand brand . .';
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 1fr);
  width: 100vw;
  min-height: calc(100vh - var(--header-h) - 90px); }
  .first--screen__logo {
    grid-area: logo;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    padding: 10px; }
  .first--screen__img {
    grid-area: img;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%; }
    .first--screen__img img {
      display: inline-block;
      width: 100%; }
  .first--screen__year {
    position: relative;
    grid-area: year;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .first--screen__year-block {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.8vw;
      line-height: 1em;
      text-align: center;
      letter-spacing: 1em;
      text-transform: uppercase;
      color: #ffffff;
      background: #282C34;
      padding: 1vw 1.5vw;
      -webkit-transform: translate(3vw, 18vw) rotate(-90deg);
          -ms-transform: translate(3vw, 18vw) rotate(-90deg);
              transform: translate(3vw, 18vw) rotate(-90deg); }
    .first--screen__year-wrap {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 0;
      width: 0; }
    .first--screen__year-span {
      text-transform: uppercase;
      font-size: 18vw;
      font-weight: bold;
      height: 1000px;
      width: 1000px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center;
      -webkit-transform: translate(calc(-50% + -7vw), -50%) rotate(-90deg);
          -ms-transform: translate(calc(-50% + -7vw), -50%) rotate(-90deg);
              transform: translate(calc(-50% + -7vw), -50%) rotate(-90deg); }
    .first--screen__year-num {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 44vh;
      -webkit-transform: translate(-70%, -50%);
          -ms-transform: translate(-70%, -50%);
              transform: translate(-70%, -50%); }
  .first--screen__mouse {
    grid-area: mouse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .first--screen__brand {
    grid-area: brand;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
    font-size: 18px;
    letter-spacing: 0.5em;
    text-transform: uppercase; }
    .first--screen__brand:after {
      content: '';
      width: 22px;
      height: 3px;
      border-radius: 10px;
      margin-top: 10px;
      background: #282C34; }

.project {
  position: relative;
  display: grid;
  grid-template-areas: 'img1 year' 'brand siting' 'area .' 'img3 img2' 'img4 img5' 'img6 img6' 'img7 img8' 'img9 img10' 'img11 img11';
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 40px 0; }
  .project__area-wrap {
    grid-area: area;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 40px;
    padding: 0 40px; }
  .project__year-wrap {
    grid-area: year;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px; }
  .project__brand-wrap {
    grid-area: brand;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 40px; }
  .project__siting-wrap {
    grid-area: siting;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px; }
  .project__info {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .project__info-text {
      font-weight: 400;
      font-size: 6.5vw;
      line-height: 1em;
      padding-left: 70px;
      text-transform: capitalize; }
    .project__info-number {
      font-weight: bold;
      font-size: 13vw;
      line-height: 0.8em;
      padding-left: 70px; }
    .project__info-name {
      font-weight: 600;
      font-size: 18px;
      line-height: 1.2em;
      text-align: center;
      letter-spacing: 0.5em;
      text-transform: uppercase;
      color: #ffffff; }
  .project__text-block {
    position: relative;
    display: inline-block;
    height: 0;
    width: 0; }
    .project__text-block span {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      white-space: pre;
      text-align: right;
      padding: 15px 15px;
      background: #DE3346;
      -webkit-transform: translate(-100%, 0) rotate(-90deg);
          -ms-transform: translate(-100%, 0) rotate(-90deg);
              transform: translate(-100%, 0) rotate(-90deg);
      -webkit-transform-origin: right top;
          -ms-transform-origin: right top;
              transform-origin: right top; }
  .project__img {
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%; }
    .project__img img {
      width: 100%; }
  .project__img-1 {
    grid-area: img1;
    width: 100%;
    margin-bottom: 40px; }
  .project__img-2 {
    grid-area: img2;
    width: 116%;
    margin-left: -16%; }
  .project__img-3 {
    grid-area: img3;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    width: 63%;
    margin: auto 0 -20%; }
  .project__img-4 {
    grid-area: img4;
    width: 33%;
    margin: auto 15% auto auto; }
  .project__img-5 {
    grid-area: img5;
    width: 66%;
    margin: 0 auto; }
  .project__img-6 {
    grid-area: img6;
    width: 100%; }
  .project__img-7 {
    grid-area: img7;
    width: 116%; }
  .project__img-8 {
    position: absolute;
    right: 0;
    top: 0;
    grid-area: img8;
    width: 66%;
    margin: 30% 5% 0 auto; }
  .project__img-9 {
    grid-area: img9;
    width: 74%;
    margin: auto 5% 0 auto; }
  .project__img-10 {
    grid-area: img10;
    width: 90%;
    margin: auto 0 0 auto; }
  .project__img-11 {
    grid-area: img11;
    width: 39%;
    margin: 0 auto; }

@media screen and (max-width: 768px) {
  .first--screen {
    grid-template-areas: '. . logo logo . .' '. img img img img .' '. year year year year .' 'mouse . brand brand . .';
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(6, 1fr);
    min-height: 100px; }
  .first--screen__img img {
    height: 100%; }
  .first--screen__year-span {
    height: auto;
    width: auto;
    -webkit-transform: translate(-50%, 0) rotate(0);
        -ms-transform: translate(-50%, 0) rotate(0);
            transform: translate(-50%, 0) rotate(0); }
  .first--screen__year-block {
    -webkit-transform: translate(-15vw, 5vw) rotate(0deg);
        -ms-transform: translate(-15vw, 5vw) rotate(0deg);
            transform: translate(-15vw, 5vw) rotate(0deg); }
  .first--screen__year {
    height: 90px; }
  .project__info-name {
    font-size: 10px;
    letter-spacing: 0.3em; }
  .project__text-block span {
    padding: 8px; }
  .project__info-number {
    padding-left: 40px; }
  .project__year-wrap {
    padding: 20px; }
  .project__siting-wrap {
    padding: 20px; }
  .project__brand-wrap {
    padding: 20px; }
  .project__area-wrap {
    padding: 20px; }
  .project__img-1 {
    margin: 0; }
  .project__img-3 {
    margin: auto 0 -10%;
    width: 75%; }
  .project__img-4 {
    width: 66%; }
  .project__img-11 {
    width: 60%; } }
