.services {
  min-height: calc(100vh - var(--header-h) - 90px); }
  .services__tabs {
    position: relative;
    background: #EFF1F4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
    margin: -1.5vw 0 0 0; }
  .services .title__name {
    z-index: -1; }
  .services .title__name h3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.tabs__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.tabs__button {
  width: 33.33%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #282C34;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .tabs__button.active {
    background: var(--red);
    color: white; }

.tabs__construction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto; }

.tabs__content {
  height: 70vh;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6em;
  padding: 40px; }
  .tabs__content-wrap {
    position: relative;
    height: 100%;
    overflow-y: auto; }
    .tabs__content-wrap::-webkit-scrollbar {
      width: 3px; }
    .tabs__content-wrap::-webkit-scrollbar-track {
      -webkit-box-shadow: none; }
    .tabs__content-wrap::-webkit-scrollbar-thumb {
      background-color: #DE3346;
      border-radius: 30px; }
  .tabs__content-filter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: -webkit-gradient(linear, left bottom, left top, from(#EFF1F4), to(rgba(239, 241, 244, 0)));
    background: -o-linear-gradient(bottom, #EFF1F4 0%, rgba(239, 241, 244, 0) 100%);
    background: linear-gradient(0deg, #EFF1F4 0%, rgba(239, 241, 244, 0) 100%); }

.tabs__cleaning, .tabs__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto; }

.tabs__cont {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 0; }
  .tabs__cont p {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5em;
    margin-bottom: 25px; }

.tabs__cont.active {
  opacity: 1;
  z-index: 5; }

.cleaning__left, .service__left {
  width: 60%; }

.cleaning__right, .service__right {
  width: 40%;
  padding: 0 20px; }
  .cleaning__right::-webkit-scrollbar, .service__right::-webkit-scrollbar {
    width: 3px; }
  .cleaning__right::-webkit-scrollbar-track, .service__right::-webkit-scrollbar-track {
    -webkit-box-shadow: none; }
  .cleaning__right::-webkit-scrollbar-thumb, .service__right::-webkit-scrollbar-thumb {
    background-color: #DE3346;
    border-radius: 30px; }
  .cleaning__right-advantages, .service__right-advantages {
    height: 400px;
    font-size: 18px;
    line-height: 1.4em;
    padding-left: 20px;
    font-weight: 500;
    list-style: disc;
    overflow-y: auto; }
    .cleaning__right-advantages li, .service__right-advantages li {
      margin-bottom: 15px; }

.service__right-advantages {
  padding-left: 0;
  list-style: none; }

@media screen and (max-width: 992px) {
  .tabs__cont p {
    font-size: 3vw;
    margin-bottom: 15px; }
  .cleaning__right-advantages, .service__right-advantages {
    font-size: 2.3vw; }
  .cleaning__left, .service__left, .cleaning__right, .service__right {
    width: 100%;
    padding: 0; }
  .tabs__button {
    font-size: 2.2vw; } }
