.about{
.text-left{
  padding: 0 5px;
  span{
    font-size: 15vw;
  }

}
  .title__two{
    margin: auto 0 0 0;
   span{
     display: inline-block;
     font-weight: 600;
     font-size: 6vw;
     line-height: 1em;
     text-transform: uppercase;
     color: #DE3346;
     transform: translateX(-10%);
   }
 }
  .title{
    display: flex;
    align-items: flex-end;
    padding: 20px 30px;
    &__first{
      font-size: 16vw;
      line-height: 1em;
      font-weight: bold;
      text-transform: uppercase;
      color: #282C34;
    }
  }
  .red{ color: #DE3346}
  &__created{
    display: grid;
    grid-template-areas: 'created-start .'
  'created-active created-info';
    grid-template-columns: 55% 45%;
    grid-template-rows: auto 1fr;
    color: #282C34;
    padding-bottom: 60px;
    &-start, &-active{
      display: inline-block;
      width: 85%;
      font-weight: 600;
      font-size: 2.2vw;
      line-height: 1.5em;
      margin: 0 0 0 auto;
    }
    &-start{
      grid-area: created-start;
      margin-bottom: 3vw;
    }
    &-active{
      grid-area: created-active;
    }
    &-info{
      grid-area: created-info;
      font-size: 1.3vw;
      line-height: 1.5em;
      white-space: pre-line;
      padding: 20px 30px 0 20%;
    }
  }
  &__services{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100vw;
    background: #ebebeb;
    &-img{
      max-height: 100%;
      width: 100%;
      margin-top: auto;
    }
    &-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      padding: 30px 7%;
      z-index: 5;
    }
    &-h3{
      font-weight: 600;
      font-size: 2.2vw;
      line-height: 1.5em;
      margin-bottom: 30px;
    }

  }
  .services-list{
    margin: auto 0;
    padding-left: 20px;
    li{
      margin-bottom: 10px;
      font-weight: normal;
      font-size: 1.3vw;
      line-height: 1.4em;
      color: #282C34;
      list-style: disc;
    }
  }
  &__history{
    &-title{
      display: flex;
      justify-content: center;
      font-size: 18vw;
      line-height: 1em;
      text-transform: uppercase;
      font-weight: bold;
      color: #282C34;
    }
  }
  .history__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    &-item{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      flex-basis: 33.33%;
      padding: 30px 60px 30px 30px;
    }
  }
  .list__item{
    &-title{
      width: 100%;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      margin-bottom: 20px;
      color: #DE3346;
    }
    &-year{
      width: 0;
      height: 0;
      font-size: 30px;
      line-height: 1em;
      text-align: right;
      font-weight: bold;
      color: #282C34;
      text-transform: uppercase;
      span{
        display: inline-block;
        transform: translate(-100%,0)rotate(-90deg);
        transform-origin: right top;
        height: 200px;
        width: 200px;
        text-align: right;
        padding: 0 6px 0 0;
      }
    }
    &-text{
      display: inline-block;
      width: calc(100% - 70px);
      min-width: 250px;
      font-size: 18px;
      line-height: 1.4em;
      margin-left: 70px;
    }
  }
  &__target{
    display: inline-block;
    width: 100%;
    padding: 90px 30px 30px;
    background: #ebebeb url('../img/about/fon2.jpg')no-repeat center/ auto 100%;
    &-title{
      width: 60%;
      font-weight: 600;
      font-size: 72px;
      line-height: 1.3em;
      text-transform: uppercase;
      color: #DE3346;
    }
    &-description{
      width: 60%;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 1.6em;
      margin-bottom: 60px;
    }
  }
}

@media screen and (max-width: 992px){
  .about__created{
    grid-template-areas:"created-start"
    "created-active"
    "created-info";
    grid-template-columns: 100%;
  }
  .about__created{
    &-start, &-active, &-info{
      width: 100%;
      margin: 0;
      padding: 30px 0 30px 20px;
    }
    &-start, &-active{
      font-size: 4.4vw;
    }
    &-info{
      font-size: 2.6vw;
    }
  }
  .about__services{
    grid-template-columns: repeat(5, 20%);
  }
  .about__services-text{
    grid-column: 1/3 span;
    grid-row: 1;
    padding: 30px 0 10px 20px;
  }
  .about__services-img{
    grid-column: 3/5 span;
    grid-row: 1;
    width: 80%;
    margin: auto 0 0 auto;
  }
  .about .services-list li{
    font-size: 2.6vw;
  }
  .about__services-h3{
    font-size: 3vw;
  }
  .about .history__list-item{
    padding: 15px
  }
  .about .list__item-text{
    font-size: 12px;
    margin-left: 30px;
  }
  .about .list__item-year{
font-size: 15px;
  }
  .about__target{
    padding: 40px 20px 10px;
  }
  .about__target-title{
    width: 90%;
    font-size: 12vw;
    line-height: 1.1em;
    margin-bottom: 10px;
  }
  .about__target-description{
    width: 100%;
    font-size: 5vw;
    margin-bottom: 20px;
  }
  .about .history__list{
    padding: 20px 5px 20px;
  }
  .about__history{
    padding: 20px 0;
  }
}