.about{
  .title{
    display: flex;
    align-items: flex-end;
    padding: 20px 30px;
    &__first{
      font-size: 16vw;
      line-height: 1em;
      font-weight: bold;
      text-transform: uppercase;
      color: #282C34;
    }
    &__two{
       display: inline-block;
       font-weight: 600;
       font-size: 6vw;
       line-height: 1em;
       text-transform: uppercase;
       color: #DE3346;
       transform: translateX(-10%);
     }
  }
  .red{ color: #DE3346}
  &__created{
    display: grid;
    grid-template-areas: 'created-start .'
  'created-active created-info';
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: #282C34;
    padding-bottom: 60px;
    &-start, &-active{
      display: inline-block;
      width: 60%;
      font-weight: 600;
      font-size: 30px;
      line-height: 1.5em;
      margin: 0 auto;
    }
    &-start{
      grid-area: created-start;
    }
    &-active{
      grid-area: created-active;
    }
    &-info{
      grid-area: created-info;
      font-size: 18px;
      line-height: 1.5em;
      white-space: pre-line;
      padding: 20px 30px 0;
    }
  }
  &__services{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    background: #ebebeb;
    &-img{
      max-height: 100%;
      width: 50%;
      margin-top: auto;
    }
    &-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      padding: 30px 7%;
    }
    &-h3{
      font-weight: 600;
      font-size: 30px;
      line-height: 48px;
      margin-bottom: 30px;
    }

  }
  .services-list{
    margin: auto 0;
    padding-left: 20px;
    li{
      margin-bottom: 10px;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      color: #282C34;
      list-style: disc;
    }
  }
  &__history{
    &-title{
      font-size: 18vw;
      line-height: 1em;
      text-transform: uppercase;
      font-weight: bold;
      color: #282C34;
    }
  }
  .history__list{
    display: flex;
    flex-wrap: wrap;
    &-item{
      display: flex;
      //flex-wrap: wrap;
      flex-direction: column;
      width: 33%;
      padding: 30px 60px 30px 30px;
    }
  }
  .list__item{
    &-title{
      width: 100%;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      margin-bottom: 20px;
      color: #DE3346;
    }
    &-year{
      //display: flex;
      //justify-content: center;
      //width: 70px;
      //height: 70px;
      width: 0;
      height: 0;
      font-size: 30px;
      line-height: 30px;
      text-align: right;
      font-weight: bold;
      color: #282C34;
      text-transform: uppercase;
      span{
        display: inline-block;
        //margin-top: auto;
        transform: translate(-100%,0)rotate(-90deg);
        transform-origin: right top;
        height: 200px;
        width: 200px;
        text-align: right;
        padding: 0 6px 0 0;
      }
    }
    &-text{
      display: inline-block;
      width: calc(100% - 70px);
      font-size: 18px;
      line-height: 30px;
      margin-left: 70px;
    }
  }
  &__target{
    display: inline-block;
    width: 100%;
    padding: 90px 30px 30px;
    background: #ebebeb url('../img/about/fon2.jpg')no-repeat center/ auto 100%;
    &-title{
      width: 60%;
      font-weight: 600;
      font-size: 72px;
      line-height: 96px;
      text-transform: uppercase;
      color: #DE3346;
    }
    &-description{
      width: 60%;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 48px;
      margin-bottom: 60px;
    }
  }
}