.contact{
  &__content{
    margin-top: -50px;
    display: grid;
    grid-template-areas: 'map address'
    'form address';
    grid-auto-rows: 1fr;
    grid-template-columns: 2fr 1fr;
  }

  .map{
    width: 100%;
    min-height: 400px;
    grid-area: map;
  }
  .address{
    grid-area: address;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 18px;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    color: #282C34;
    &__list{
      margin-bottom: 50px;
    }
    &__country{
      font-weight: 600;
      //font-size: 18px;
      //line-height: 1.2em;
      letter-spacing: 0.5em;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &__tel{
      margin-bottom: 20px;
    }
    &__street{
      margin-bottom: 20px;
    }
  }
  .form{
    grid-area: form;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 72%;

    margin-bottom: auto;
    padding: 60px 30px 0;
    label{
      font-weight: 500;
      font-size: 18px;
      line-height: 1.2em;
      letter-spacing: 0.5em;
      text-transform: uppercase;
    }
    &__input{
      height: 35px;
      font-size: 18px;
      border: none;
      border-bottom: 2px solid #282C34;
    }
    &__info{
      height: 20px;
      margin-bottom: 20px;
    }
    textarea.form__input{
      height: 70px;
      resize: none;
      font-size: 18px;
    }
    &__submit{
      position: absolute;
      bottom: 20px;
      right: -70px;
      display: inline-block;
      height: 40px;
      width: 40px;
      background: url("../img/Vector.svg")no-repeat center/ contain;
      border: none;
    }
  }
}

@media screen and (max-width: 992px){
  .contact__content{
    grid-template-areas: 'map' 'address' 'form';
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  .contact .address{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact .address__list{
    flex-basis: 50%;
    padding: 5px 15px;
  }
  .contact .form{
    margin: 0 auto;
    padding: 10px 60px 0;
  }
  .contact .form__submit{
    right: 0;
  }
}

@media screen and (max-width: 600px){
  .contact{
    .address__list{
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .address{
    font-size: 3vw;
  }
  .form{
    width: 90%;
    padding: 0 40px 0 0;
  }
  .form__submit{
    height: 30px;
    width: 30px;
    bottom: 15px;
  }
  .form label{
    font-size: 3vw;
  }
  .form__input{
    height: 25px;
  }
  .form textarea.form__input{
    height: 50px;
  }
  .address__street,.address__tel,.address__country,.form__info{
    margin-bottom: 10px;
  }


  }
}