@font-face {
  font-family:'Montserrat';
  src: url("../fonts/montserratRegular/montserratRegular.eot");
  src: url("../fonts/montserratRegular/montserratRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserratRegular/montserratRegular.woff") format("woff"), url("../fonts/montserratRegular/montserratRegular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: url("../fonts/montserratBlack/montserratBlack.eot");
  src: url("../fonts/montserratBlack/montserratBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/montserratBlack/montserratBlack.woff") format("woff"), url("../fonts/montserratBlack/montserratBlack.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("../fonts/montserratSemiBold/montserrat-SemiBold.eot");
  src: url("../fonts/montserratSemiBold/montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserratSemiBold/montserrat-SemiBold.woff") format("woff"), url("../fonts/montserratSemiBold/montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url("../fonts/montserratBold/montserrat-Bold.eot");
  src: url("../fonts/montserratBold/montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserratBold/montserrat-Bold.woff") format("woff"), url("../fonts/montserratBold/montserrat-Bold.ttf") format("truetype");
}