@import "vars";
@import "font";
@import "header";
@import "footer";
@import "animate";

@import "contact";
@import "project";
@import "projects";
@import "about";
@import "documents";
@import "services";
@import "404";


body, html {
  height: 100%;
}
body{
  display: none;
}
.wow{
  opacity: 0;
  animation-fill-mode: forwards;
}

.text-left{
  position: relative;
  overflow: hidden;
}
.color-red{
  color: var(--red);
}
.main {
  display: grid;
  width: 100%;
  grid-auto-rows: auto;
  grid-template-columns: repeat(4, 25%);
  grid-auto-flow: dense;
  overflow: hidden;
}

.stores {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  visibility: hidden;
  z-index: 2;
  &__link{
    display: inline-block;
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &__content{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    &-text{
      font-weight: 600;
      font-size: 18px;
      color: #ffffff;
      line-height: 1.2em;
      letter-spacing: 0.5em;
      text-transform: uppercase;
    }
    &-block{
      width: 21.26px;
      height: 3px;
      background: #FFFFFF;
      border-radius: 10px;
      overflow: hidden;
      margin: 10px 0 15px;
    }
  }
  &-hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    color: #ffffff;
    padding: 40px 20px;
    opacity: 0;
    z-index: 6;
    transition: all 0.1s ease 0s;
    &__brand {
      font-size: 10px;
      letter-spacing: 1em;
      text-transform: uppercase;
    }
    &__plus {
      position: relative;
      display: inline-block;
      height: 67px;
      width: 67px;
      &::after,&::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0;
        border: 1px solid #ffffff;
      }
      &::before{
        transform: rotate(90deg);
      }

    }
    &__text {
      font-size: 10px;
      letter-spacing: 0.1em;
    }
  }
  &:hover .stores-hover{
    opacity: 1;
  }
  &::before,&::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 200vw;
    width: 200vw;
    pointer-events: none;
    background: #eeeeee;
    transform: translate(0, 0)rotate(135deg);
    transform-origin: left top;
  }
  &:hover{
    &::before,&::after{
      transform: translate(100%, 0)rotate(135deg);
    }
  }
  &::before{
    z-index: 4;
    background: rgba(193,193,193,0.7);
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  }
  &::after{
    z-index: 5;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  }
}

  .stores1 {
    grid-row: span 2;
    &::after{
      background: #EB5757;
    }
  }
  .stores2 {
    grid-column: span 3;
    &::after{
      background: #219653;
    }
  }
  .stores3 {
    grid-column: span 2;
    &::after{
      background: #F2C94C;
    }
  }
  .stores4 {
    grid-row: span 2;
    &::after{
      background: #2F80ED;
    }
  }
  .stores5 {
    grid-column: span 3;
    &::after{
      background: #9B51E0;
    }
  }
  .stores6 {
    grid-row: span 2;
    &::after{
      background: #219653;
    }
  }
  .stores7 {
    grid-column: span 2;
    &::after{
      background: #EB5757;
    }
  }
  .stores8 {
    grid-row: span 2;
     &::after{
      background: #F2994A;
    }
  }
  .stores9 {
    grid-column: span 2;
     &::after{
      background: #2F80ED;
    }
  }

.text-stroke{
  color: transparent;
  -webkit-text-stroke: 3px #282C34;
}

.mCSB_scrollTools{
  width: 2px;
}
.mCSB_inside>.mCSB_container{
  margin-right: 2px;
}
.title__name__os-1{
  width: 100%;
}

.title__name__os-2{
  width: 85%;
  margin-left: 15%;
}

.title__name__os-3{
  width: 92.5%;
  margin-left: 7.5%;
}
.title__name h3{
  display: flex;
  align-items: center;
}
.title__block{
  height: 3.4vw;
  flex-grow: 1;
  margin: 0 -3px 0 80px;
  border :3px solid #282C34;
}
.title__name{
  z-index: 2;
  position: relative;
  font-family: 'Montserrat';
  font-weight: bold;
  color: #282C34;
  text-transform: uppercase;
  padding: 0 0 0 10px;
  pointer-events: none;
}
.text-left span{
  display: inline-block;
  font-size: 16vw;
  line-height: 0.8em;
}
.menu__item-hoverlink{
  color: var(--red);
  font-size: 2.25rem;
}

@media screen and (max-width: 900px) {
  .mainmenu__item, .sidemenu__item {
    margin: 1rem 0;
  }
  .main {
    grid-template-columns: repeat(1, 50%);
  }

  .stores1 {
    grid-row: span 2;
    order: -1;
  }
  .stores2 {
    grid-column: span 2;
  }
  .stores3 {
    grid-column: span 2;
  }
  .stores4 {
    grid-row: span 2;
  }
  .stores5 {
    grid-column: span 2;
  }
  .stores6 {
    grid-row: span 2;
  }
  .stores7 {
    grid-column: span 2;
  }
  .stores8 {
    grid-row: span 2;
  }
  .stores9 {
    grid-column: span 2;
  }
}
@media screen and (max-width: 768px) {
  .stores-hover{
    display: none;
  }
  .title__block{
    margin: 0 -3px 0 20px;
  }
  .stores__content-text{
    font-size: 2vw;
  }
  .stores__content-logo{
    max-width: 40%;
    max-height: 15%;
  }
}